html{
    height:100%;
}
body{
    background-color:#eaeaea;
    height:100%;
}
p,h3,h5,a{
    text-align: center;
    text-decoration: none;
    color:#666;
}
a:hover,a:visited,a:link{
    text-decoration: none;
}
.navbar-toggle .icon-bar {
    background-color: #888;
}
.container{
    width:100%;
    height:100%;
    padding-left:0;
    padding-right:0;
}
.height180{
    height:180px;
}
.borderRight{
    border-right:1px solid #666;
}
.bgWhite{
    background-color: #fff;
}
.bg_666{
    background-color:#666;
}
.heightAll{
    height:100%;
}
@media (min-width: 992px){
    #leftBox{
        position: fixed;
        left:0;
        top:0;
    }
    .top40{
        top:40%;
    }
    .top50{
        top:50%;
    }
}
[class^="col-lg"],[class^="col-md"],[class^="col-sm"],[class^="col-xs"]{
    padding-left:0;
    padding-right:0;
}
#header{
    position:absolute;
    height:40%;
    z-index:100;
}
.top14{
    top:14%;
}
.top30{
    top:30%;
}
.top33{
    top:33%;
}
.top60{
    top:60%;
}
.headImgBox{
    display: flex;
    justify-content: center;
}
.headImg{
    width:106px;
    height:106px;
    border-radius:50%;
    border:3px solid #ccc;
    overflow: hidden;
}
.headImg img{
    display: inline;
}
.headText{
    position: absolute;

}
.headText h3,.headText h5{
    width:100%;
    text-align: center;
}